
<%= form_for(@recipe) do |f| %>
  <div class="row">
    <div class="columns">
      <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <label><%= f.label :name %>
        <%= f.text_field :name %>
      </label>
    </div>
    <div class="columns">
      <label><%= f.label :description %>
        <%= f.text_area :description %>
      </label>
    </div>

    <div class="columns">
      <h4>Ingredients</h4>
    </div>
  </div>

  <div class="row">
    <div class="columns">
      <%= f.fields_for :ingredients do |builder| %>
        <%= render 'ingredient_fields', f: builder %>
      <% end %>
    </div>
    <div class="columns">
      <%# link_to_add_fields  "Add Ingredient" , f , :ingredients %>
      <%= f.submit "#{action} Recipe" , class: "radius button small-12" %>
    </div>
  </div>
<% end %>
