
<%= form_for(@recipe) do |f| %>
  <div class="row">
    <div class="col-xs-12">
      <% if @recipe.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

          <ul>
          <% @recipe.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-xs-12">
      <label>User ID</label>
      <%= f.number_field :user_id , class: "form-control"%>
    </div>

    <div class="form-group col-xs-12">
      <label><%= f.label :name %></label>
      <%= f.text_field :name , class: "form-control" %>
    </div>

    <div class="form-group col-xs-12">
      <label><%= f.label :description %></label>
      <%= f.text_area :description , class: "form-control"%>
    </div>


    <div class="col-xs-12">
      <h4>Ingredients</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <%= f.fields_for :ingredients do |builder| %>
        <%= render 'ingredient_fields', f: builder %>
      <% end %>
    </div>
    <p class="col-xs-12">
      <%= link_to_add_fields  "Add Ingredient" , f , :ingredients %>
    </p>
    <p class="col-xs-12">
    <%= f.submit "#{action} Recipe" , class: "btn-primary btn" %>
    </p>

  </div>
<% end %>
