<p id="notice"><%= notice %></p>

<div class="row">
  <div class="columns">
    <h1>Listing Recipes</h1>
  </div>
</div>

<div class="row">
  <div class="columns">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td><%= recipe.name %></td>
          <td><%= recipe.description %></td>
          <td><%= link_to 'Show', recipe %></td>
          <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
          <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= link_to 'New Recipe', new_recipe_path %>
  </div>
</div>

