<% if notice %>
<div class="row">
  <div class="columns">
    <div data-alert class="alert-box success radius">
      <%= notice %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="columns">
    <h1>Recipe</h1>
  </div>
</div>

<div class="row">
  <div class="columns">
    <h4>
      <strong>Name:</strong>
      <%= @recipe.name %>
    </h4>

    <h4>
      <strong>Description:</strong>
      <%= @recipe.description %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="columns">
  <br>
    <h4>Ingredients</h4>
    <% @recipe.ingredients.each do |ingredient| %>
      <div class="panel">
        <h6>
        <strong>Name:</strong>
        <%= ingredient.name %> |

        <strong>Amount:</strong>
        <%= ingredient.amount %> |

        <strong>Unit:</strong>
        <%= ingredient.unit %> |
      </h6>
     </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns">
    <%= link_to 'Edit', edit_recipe_path(@recipe) %> |
    <%= link_to 'Back', recipes_path %>
  </div>
</div>





