<% if notice %>
<div class="row">
  <div class="columns">
    <div data-alert class="alert-box success radius" style="margin-top:10px">
      <%= notice %>
      <a href="#" class="close">&times;</a>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <h1><%= @recipe.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <p>Owner: <%= @recipe.user_id %></p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Description</h3>
    </div>
    <p><%= @recipe.description %></p>

  </div>
</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Ingredients</h3>
    </div>
    <ul >
      <% @recipe.ingredients.each do |ingredient| %>

        <li><%= ingredient.amount %> <%= ingredient.unit.pluralize(ingredient.amount.to_f) %> <%= ingredient.name %></li>

      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Edit', edit_recipe_path(@recipe) , class: "btn btn-primary" %>
    <%= link_to 'Back', recipes_path , class: "btn btn-default" %>
  </div>
</div>





