<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<% @recipe.ingredients.each do |ingredient| %>
  <p>
  <strong>Name:</strong>
  <%= ingredient.name %>

  <strong>Amount:</strong>
  <%= ingredient.amount %>

  <strong>Unit:</strong>
  <%= ingredient.unit %>
</p>
<% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
