<h3>Cookbooks</h3>

<div class="table-responsive">
<table class="table panel table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Subtile</th>
      <th>Chapter Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% user.cookbooks.each do |cookbook| %>
      <tr>
        <td><%= cookbook.title %></td>
        <td><%= cookbook.subtitle %></td>
        <td><%= cookbook.chapters.count %></td>
        <td><%= link_to 'Show', cookbook , class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Edit', edit_cookbook_path(cookbook) , class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Destroy', cookbook, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>