<% title "Chapters" %>

<p id="notice"><%= notice %></p>

<h1>Listing Chapters</h1>

<div class="table-responsive">
  <table class="table table-striped panel">
    <thead>
      <tr>
        <th>ID</th>
        <th>Recipe Count</th>
        <th>Cookbook</th>
        <th>Title</th>
        <th>Subtitle</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody class="table table-striped panel">
      <% @chapters.each do |chapter| %>
        <tr>
          <td><%= chapter.id %></td>
          <td><%= chapter.recipes.count %></td>
          <td><%= chapter.cookbook %></td>
          <td><%= chapter.title %></td>
          <td><%= chapter.subtitle %></td>
          <td><%= link_to 'Show', chapter , class: "btn btn-default btn-sm" %></td>
          <td><%= link_to 'Edit', edit_chapter_path(chapter) , class: "btn btn-default btn-sm" %></td>
          <td><%= link_to 'Destroy', chapter, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'New Chapter', new_chapter_path , class: "btn btn-primary"%>
  </div>
</div>