<p id="notice"><%= notice %></p>

<p>
  <strong>Cookbook:</strong>
  <%= @chapter.cookbook %>
</p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @chapter.subtitle %>
</p>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Edit',  edit_chapter_path(@chapter)  , class: "btn btn-primary" %>
    <%= link_to 'Back', chapters_path , class: "btn btn-default" %>
  </div>
</div>