<p id="notice"><%= notice %></p>

<p>
  <strong>Cookbook:</strong>
  <%= @chapter.cookbook %>
</p>

<p>
  <strong>Title:</strong>
  <%= @chapter.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @chapter.subtitle %>
</p>

<%= link_to 'Edit', edit_chapter_path(@chapter) %> |
<%= link_to 'Back', chapters_path %>
