<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cookbook.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @cookbook.subtitle %>
</p>

<%= render partial: 'chapters', locals: { cookbook: @cookbook } %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Edit', edit_cookbook_path(@cookbook) , class: "btn btn-primary" %>
    <%= link_to 'Back', cookbooks_path , class: "btn btn-default" %>
  </div>
</div>
